<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Type your string here :</p>
    <input type="text-area" id="text" cols="50" rows="10">
    <button id="button_detect" type="button">Detect Phone</button>
    <button id="detect_email" type="button">Detect Email</button>
    </br>
    <button id="test_case">RUN Test case</button>
    <script src="script/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
</body>
</html>